<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <title>Dev# Conference</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
	<!-- Customizations -->
	<link href='assets/css/rinjani_customized.css' rel='stylesheet' type='text/css' />
    <!-- Google Font -->
    <link href='http://fonts.googleapis.com/css?family=Raleway:400,700' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Lato:300,400,700' rel='stylesheet' type='text/css'>
    
    <!-- Bootstrap Core CSS -->
    <link href="assets/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    
    <!-- Plugins CSS -->
    <link href="assets/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="assets/plugins/animate-css/animate.min.css" rel="stylesheet" type="text/css">
    <link href="assets/plugins/owl-carousel/owl.carousel.css" rel="stylesheet" type="text/css">
    <link href="assets/plugins/owl-carousel/owl.theme.css" rel="stylesheet" type="text/css">
    <link href="assets/plugins/jquery-magnificPopup/magnific-popup.css" rel="stylesheet" type="text/css">
    
    <!-- Component CSS -->
    <link href="assets/css/component/component.css" rel="stylesheet" type="text/css">
    <link href="assets/css/component/colors/blue.css" rel="stylesheet" type="text/css">
    
    <!-- Main CSS -->
    <link href="assets/css/rinjani.css" rel="stylesheet" type="text/css">
    <link href="assets/css/colors/blue.css" rel="stylesheet" type="text/css">
    
    <!-- Modernizr JS for IE9 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="assets/plugins/modernizr.min.js"></script>
    <![endif]-->
</head>

<!-- The #page-top ID is part of the scrolling feature - the data-spy and data-target are part of the built-in Bootstrap scrollspy function -->
<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top" data-offset="51" ng-app="app">

    <!--[if lt IE 8]>
        <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    
    <!-- Begin Page Loader -->
    <div id="page-loader">
        <div class="preload">
            <img src="assets/img/preloader.gif" alt="Loading"/>
        </div>
        <!-- //.preload -->
    </div>
    <!-- //End Page Loader -->
    
    
    <!-- Begin Intro Section -->
    <section id="intro">
        <div class="intro-body text-center">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 intro-content">
                        <div class="logo dev-sharp-logo">
							<img class='img-responsive' src='assets/img/logo_top.svg' alt='DEV#'/>
                        </div>
                        <!-- //.logo -->
                        <div class="intro-text text-center">
                            &nbsp;
                        </div>
                        <!-- //.intro-text -->
                    </div>
                    <!-- //.intro-content -->
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="countdown text-center">
                            <div class="cd-label">7th October | Gdańsk</div>
                        </div>
                        <!-- /.countdown -->
                    </div>                    
                    <div class="col-md-12">
                        <div class="countdown text-center funded-main-page">
                            <span>Founded by</span>
                            <a href="https://ihsmarkit.com/">
                                <img src="assets/img/IHS-Markit-logo.svg" > 
                            </a>
                        </div>
                        <!-- /.countdown -->
                    </div>
                    <!-- //.col-md-12 -->
                </div>
				
                <!-- //.row -->
                <!-- //.row -->
            </div>
            <!-- //.container -->
        </div>
        <!-- //.intro-body -->
    </section>
    <!-- //End Intro Section -->


    <!-- Begin Navbar -->
    <nav id="navigation" class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-rj-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                
                <a class="navbar-brand" href="#page-top">
                    <img class='img-responsive vcenter' src='assets/img/web_logo-s.png' alt='DEV#'/>
                </a>
<!--                 <div class="funded-by-header">
                  <span>Founded by&nbsp;&nbsp;&nbsp;</span>
                  <a href="https://ihsmarkit.com/">
                    <img src="assets/img/IHS-Markit-logo_black.svg" width="100%"> 
                  </a>
                </div>
 -->            </div>
            <!-- //.navbar-header -->
            
            <div class="navbar-collapse collapse navbar-rj-collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li class="page-scroll">
                        <a href="#who-we-are">About</a>
                    </li>

                    <li class="page-scroll">
                        <a href="#meet-the-team">Speakers</a>
                    </li>

                    <li class="page-scroll">
                        <a href="#our-history">Agenda</a>
                    </li>
					
					<li class="page-scroll">
                        <a href="#keep-in-touch">Registration</a>
                    </li>
                                        
                    <li class="page-scroll">
                        <a href="#footer">Contact</a>
                    </li>
                </ul>

            </div>
            <!-- //.navbar-collapse -->
        </div>
        <!-- //.container -->
    </nav>
    <!-- //End Navbar -->


    <!-- Begin Who We Are Section -->
    <section id="who-we-are" class="section">
        <div class="section-inner">
            <div class="container section-content">
                <div class="row">
                    <div class="col-md-12">
                        <div class="section-title text-center">
                            <h2 class="main-title">ABOUT <strong>Dev</strong>#</h2>
<!-- 
                            <h2 class="main-title">THE CONFERENCE</h2>

                            <h3 class="sub-title">Some things you should know about Dev# Conference</h3>
 -->
                            <span class="section-line"></span>
                        </div>
                        <!-- //.section-title -->
                    </div>
                    <!-- //.col-md-12 -->
                </div>
                <!-- //.row -->

                <div class="row">
                    <div class="col-md-6">
                        <div id="carousel-who-we-are" class="owl-carousel owl-theme">
                            <div class="item">
                                <img src="assets/img/devsharp2015_01.jpg" alt="" class="img-responsive img-rounded"/>
                            </div>
                            <!-- //.item -->

                            <div class="item">
                                <img src="assets/img/devsharp2015_02.jpg" alt="" class="img-responsive img-rounded"/>
                            </div>
                            <!-- //.item -->

                            <div class="item">
                                <img src="assets/img/devsharp2015_03.jpg" alt="" class="img-responsive img-rounded"/>
                            </div>
                            <!-- //.item -->
                            <div class="item">
                                <img src="assets/img/devsharp2015_04.jpg" alt="" class="img-responsive img-rounded"/>
                            </div>
                            <!-- //.item -->
                        </div>
                        <!-- //.owl-carousel -->
                    </div>
                    <!-- //.col-md-6 -->

                    <div class="col-md-6">
                        <div class="who-we-are-text">
                            <p class="sub-title">
                              Are you a developer or programmer looking to boost your skills? Then join us for the <strong>2016 Dev#</strong> conference - a free event dedicated to helping sharpen your knowledge and expertise.
                            </p>

                            <p>Our conference this year features six international speakers eager to share their expertise and experience in the latest technologies. Don't miss this unique opportunity to learn from them, and to interact with both the speakers and other conference participants in a friendly, supportive atmosphere.
                            </p>
                            <p>World-leading information provider <strong>IHS Markit</strong> has been organizing internal conferences in Gdańsk for a decade with <strong>Marco Cecconi</strong> from <strong>Stack Overflow</strong>, <strong>Szymon Pobiega</strong> from <strong>Particular Software</strong>, <strong>Kuba Walinski</strong> from <strong>Happy Team</strong> and <strong>Peter Madsen</strong> from <strong>RML Spacelab</strong> joining us for wonderful event last year. This year we decided to share the knowledge - and the fun - with all interested developers!
                            </p>
                            <p>So why wait? Join us! Learn with us!</p>
                            <!-- //.page-scroll -->
                        </div>
                        <!-- //.who-we-are-text -->
                    </div>
                    <!-- //.col-md-6 -->
                </div>
                <!-- //.row -->
            </div>
            <!-- //.section-content -->
        </div>
        <!-- //.section-inner -->
    </section>
    <!-- //End Who We Are Section -->


    <!-- Begin Fun Fact Section -->
    <section id="fun-fact" class="section section-bgimage-yes">
        <div class="section-inner">
            <div class="section-overlay"></div>
            
            <div class="container section-content">
                <div class="row">
                    <div class="col-md-12">
                        <div class="section-title text-center">
                            <h2 class="sub-title">FACTS</h2>                        
<!--                             <h2 class="main-title">Facts</h2>

                            <h3 class="sub-title">Dev# in numbers</h3>
 -->
                            <span class="section-line"></span>
                        </div>
                        <!-- //.section-title -->
                    </div>
                    <!-- //.col-md-12 -->
                </div>
                <!-- //.row -->

                <div class="row">
                    <div class="col-xs-6 col-sm-6 col-md-3 text-center">
                        <div class="counter-item not-right-column top-column">
                            <i class="fa fa-calendar"></i>

                            <div class="inner-content">
                                <span class="number" data-from="1" data-to="1" data-refresh-interval="1"></span>
                            </div>
                            <!-- //.inner-content -->

                            <p>Day</p>
                        </div>
                        <!-- //.counter-item -->
                    </div>
                    <!-- //.col-xs-6 col-sm-6 col-md-3 -->

                    <div class="col-xs-6 col-sm-6 col-md-3 text-center">
                        <div class="counter-item not-right-column top-column">
                            <i class="fa fa-smile-o"></i>
                            <div class="inner-content">
                                <span class="number" data-from="0" data-to="6" data-refresh-interval="10"></span>
                            </div>
                            <!-- //.inner-content -->
                            <p>Talks</p>
                        </div>
                        <!-- //.counter-item -->
                    </div>
                    <!-- //.col-xs-6 col-sm-6 col-md-3 -->
                    
                    <div class="col-xs-6 col-sm-6 col-md-3 text-center">
                        <div class="counter-item">
                            <i class="fa fa-user"></i>
                            <div class="inner-content">
                                <span class="number" data-from="0" data-to="250" data-refresh-interval="5"></span>
                            </div>
                            <!-- //.inner-content -->
                            <p>People</p>
                        </div>
                        <!-- //.counter-item -->
                    </div>
                    <!-- //.col-xs-6 col-sm-6 col-md-3 -->

                    <div class="col-xs-6 col-sm-6 col-md-3 text-center">
                        <div class="counter-item not-right-column">
                            <i class="fa fa-money"></i>
                            <div class="inner-content">
                                <span class="text">Free</span>
                            </div>
                            <!-- //.inner-content -->
                            <p>Cost</p>
                        </div>
                        <!-- //.counter-item -->
                    </div>
                    <!-- //.col-xs-6 col-sm-6 col-md-3 -->


                </div>
                <!-- //.row -->
            </div>
            <!-- //.section-content -->
        </div>
        <!-- //.section-inner -->
    </section>
    <!-- //End Fun Fact Section -->
	
	    <!-- Begin Meet The Team Section -->
    <section id="meet-the-team" class="section">
        <div class="section-inner">
            <div class="container section-content">
                <div class="row">
                    <div class="col-md-12">
                        <div class="section-title text-center">
                            <h2 class="main-title">Speakers</h2>
                            <!-- <h3 class="sub-title">Meet people we will learn from</h3> -->
                            <span class="section-line"></span>
                        </div>
                        <!-- //.section-title -->
                    </div>
                    <!-- //.col-md-12 -->
                </div>
                <!-- //.row -->

                <div class="row extra-bottom-padding">
                    <div class="col-sm-0 col-md-2 team-item not-right-column"></div>
                   
                    <div class="col-sm-6 col-md-4 team-item not-right-column top-column">
                        <div class="img-rounded team-element">
                            <div class="team-inner">
                                <div class="team-detail">
                                    <div class="team-content">
                                        <h4>Mark Seemann</h4>
                                        <p>Mark Seemann helps programmers make code easier to maintain. His professional interests include functional programming, object–oriented development, software architecture, as well as software development in general. Apart from writing a book about Dependency Injection he has also created several Pluralsight courses, written numerous articles and blog posts about programming, and created or contributed to various open source projects.</p>
                                    </div>
                                    <!-- //.team-content -->
                                </div>
                                <!-- //.team-detail -->
                            </div>
                            <!-- //.team-inner -->
                            <img src="assets/img/mark_seemann.jpg" alt="" class="img-responsive img-rounded"/>
                        </div>
                        <!-- //.team-element -->
                    </div>
                    <!-- //.team-item -->

                    <div class="col-sm-6 col-md-4 team-item not-right-column top-column">
                        <div class="img-rounded team-element">
                            <div class="team-inner">
                                <div class="team-detail">
                                    <div class="team-content">
                                        <h4>Karl-Henrik Nilsson</h4>
                                        <p>Experienced developer and Microsoft .NET MVP that have written code for anything from cellular network base stations to websites. He is a passionate software developer at tretton37 and spends a somewhat obsessive amount of his free time building smarter devices."If you ever need to see a man about building a smarter toaster - I'm that guy"</p>
                                    </div>
                                    <!-- //.team-content -->
                                </div>
                                <!-- //.team-detail -->
                            </div>
                            <!-- //.team-inner -->
                            <img src="assets/img/karl-henrik_nilsson.jpg" alt="" class="img-responsive img-rounded"/>
                        </div>
                        <!-- //.team-element -->
                    </div>
                    <div class="col-sm-0 col-md-2 team-item not-right-column"></div>
                    <!-- //.team-item -->
                    <div class="col-sm-0 col-md-12 team-item not-right-column"></div>
                    <!-- //.team-item -->
                    <div class="col-sm-0 col-md-2 team-item"></div>
                    <div class="col-sm-6 col-md-4 team-item not-right-column">
                        <div class="img-rounded team-element">
                            <div class="team-inner">
                                <div class="team-detail">
                                    <div class="team-content">
                                        <h4>Tomasz Heimowski</h4>
                                        <p>Tomasz is a passionate developer whose main areas of interest are F# and Functional Programming in general. As a Software Engineer at IHS Markit he tackles problems from various domains. In his free time, apart from contributing to OSS projects and learning new tech stuff, he enjoys lifting weights as well as dancing.</p>                                
                                    </div>
                                    <!-- //.team-content -->
                                </div>
                                <!-- //.team-detail -->
                            </div>
                            <!-- //.team-inner -->
                            <img src="assets/img/tomasz_heimowski.jpg" alt="" class="img-responsive img-rounded"/>
                        </div>
                        <!-- //.team-element -->
                    </div>
                    <!-- //.team-item -->

                    <div class="col-sm-6 col-md-4 team-item not-right-column">
                        <div class="img-rounded team-element">
                            <div class="team-inner">
                                <div class="team-detail">
                                    <div class="team-content">
                                        <h4>Chris Klug</h4>
                                        <p>Chris Klug is an adrenaline loving, problem solver/creator that loves building things. He spends his days writing code and solving problems for clients at a company called Novatrox in Stockholm, and his nights sleeping. Except for the days he spends at conferences, talking about doing things he is passionate about, and the days he fills with mountain biking, kiteboarding or RC helicopter flying.
                                        For the last 15-something years, he has been solving problems for customers. But if he gets to choose, he'll go to the beach and kitesurf. Every time!
                                        </p>
                                    </div>
                                    <!-- //.team-content -->
                                </div>
                                <!-- //.team-detail -->
                            </div>
                            <!-- //.team-inner -->
                            <img src="assets/img/chris_klug.jpg" alt="" class="img-responsive img-rounded"/>
                        </div>
                        <!-- //.team-element -->
                    </div>
                    <div class="col-sm-0 col-md-2 team-item not-right-column"></div>
                    <!-- //.team-item -->
                    <div class="col-sm-0 col-md-12 team-item not-right-column"></div>
                    <!-- //.team-item -->
                    <div class="col-sm-0 col-md-2 team-item"></div>                    
                    <div class="col-sm-6 col-md-4 team-item not-right-column">
                        <div class="img-rounded team-element">
                            <div class="team-inner">
                                <div class="team-detail">
                                    <div class="team-content">
                                        <h4>Michał Taszycki</h4>
                                        <p><a href="https://twitter.com/mehowte">Michał</a> used to be a Software Developer focusing on web and mobile technologies, as well as AAA Game Development. As a web developer, he worked at international companies like Sabre, Base CRM or GunpowderLabs. While his GameDev alter ego helped to deliver one of the first games on PS3 - Motorstorm and a PC port of Xbox360 game ­- Saints Row 2. Today he is running his company ­Creative Mind, focused on helping software developers improve their skills, often in unconventional ways. He is passionate about programming ‘ancient computers’ and teaching others how to do it at <a href="http://64bites.com">64bites.com</a> -­ Short and Sweet C64 Programming Screencasts.</p>                                
                                    </div>
                                    <!-- //.team-content -->
                                </div>
                                <!-- //.team-detail -->
                            </div>
                            <!-- //.team-inner -->
                            <img src="assets/img/michal-taszycki-bw.jpg" alt="" class="img-responsive img-rounded"/>
                        </div>
                        <!-- //.team-element -->
                    </div>                    
                    <!-- //.team-item -->
                </div>
                <!-- //.row -->
            </div>
            <!-- //.section-content -->
        </div>
        <!-- //.section-inner -->
    </section>
    <!-- //End Meet The Team Section -->
    
        <!-- Begin Coming Soon Section -->
    <section id="coming-soon" class="section section-bgimage-yes">
        <div class="section-inner">
            <div class="section-overlay"></div>

            <div class="container section-content">
                <div class="row">
                    <div class="col-md-12">
                        <!-- //.section-title -->
                    </div>
                    <!-- //.col-md-12 -->
                </div>
                <!-- //.row -->

                <div class="row">
                    <div class="col-md-12">
                        <div class="countdown text-center">
                            <div class="cd-label">7th October | Gdańsk</div>
                            <div class="cd-content" data-year="2016" data-month="10" data-day="7" data-hour="9"></div>
                        </div>
                        <!-- /.countdown -->
                    </div>
                    <!-- //.col-md-12 -->
                </div>
            </div>
            <!-- //.section-content -->
        </div>
        <!-- //.section-inner -->
    </section>
    <!-- //End Coming Soon Section -->

    <!-- Begin Our History Section -->
    <section id="our-history" class="section">
        <div class="section-inner">
            <div class="container section-content">
                <div class="row">
                    <div class="col-md-12">
                        <div class="section-title text-center">
                            <h3 class="main-title">Agenda</h3>
                            <span class="section-line"></span>
                        </div>
                        <!-- //.section-title -->
                    </div>
                    <!-- //.col-md-12 -->
                </div>
                <!-- //.row -->

                <div class="row">
                    <div class="col-md-12">
                        
                        <!-- Begin Timeline -->
                        <ul class="timeline">
                            <li>
                                <div class="timeline-badge">
                                    <i class="fa fa-dot-circle-o"></i>
                                </div>
                                <!-- //.timeline-badge -->

                                <div class="timeline-panel">
                                   
                                    <div class="timeline-heading">
                                        <h3 class="timeline-speaker">9:00</h3>
                                        <h3 class="timeline-title">Conference opening</h3>
                                    </div>
                                    <!-- //.timeline-heading -->                                    <!-- //.timeline-body -->

                                </div>
                                <!-- //.timeline-panel -->
                            </li>
                            <li>
                                <div class="timeline-badge">
                                    <i class="fa fa-dot-circle-o"></i>
                                </div>
                                <!-- //.timeline-badge -->

                                <div class="timeline-panel">
                                   
                                    <div class="timeline-heading timeline-heading-show">
                                        <h3 class="timeline-speaker">9:10 | Mark Seemann</h3>
                                        <h3 class="timeline-title">Functional Architecture: the Pits of Success</h3>
                                    </div>
                                    <!-- //.timeline-heading -->

                                    <div class="timeline-body">
                                        <p>Object-oriented architects and developers have, over the years, learned many hard lessons about successfully designing systems with object-oriented programming. This has led to a plethora of ‘best practices’ that are painfully passed on from older to younger generations via books, lectures, consulting, blog posts, etc. Many of these ‘best practices’ must be explicitly taught, because they don’t evolve naturally from object-oriented programming. Surprisingly, many of these hard-won ‘best practices’ fall naturally into place when applying functional programming. Instead of deliberate design, functional programming forms pits of success where you naturally fall into the same ‘best practices’ that you have to deliberately work for in object-oriented programming. In this session, you’ll learn about a handful of such ‘best practices’, and how functional programming automatically leads you there, without your explicit effort.</p>
                                    </div>
                                    <!-- //.timeline-body -->

                                </div>
                                <!-- //.timeline-panel -->
                            </li>
                            
                            <li>
                                <div class="timeline-badge">
                                    <i class="fa fa-dot-circle-o"></i>
                                </div>
                                <!-- //.timeline-badge -->

                                <div class="timeline-panel break-after">
                                    <div class="timeline-heading">
                                        <h3 class="timeline-title-break ">10:10 | break</h3>
                                    </div>
                                    <!-- //.timeline-heading -->
                                    <!-- //.timeline-body -->
                                </div>
                                <!-- //.timeline-panel -->
                            </li>
                            
                            <li class="timeline-inverted">
                                <div class="timeline-badge">
                                    <i class="fa fa-dot-circle-o"></i>
                                </div>
                                <!-- //.timeline-badge -->

                                <div class="timeline-panel">
                                    <div class="timeline-heading timeline-heading-show">
                                        <h3 class="timeline-speaker">10:30 | Karl-Henrik Nilsson</h3>
                                        <h3 class="timeline-title">Hacking your Home – Reverse Engineering Radio Devices in your Home</h3>
                                    </div>
                                    <!-- //.timeline-heading -->

                                    <div class="timeline-body">
                                        <p>This talk asserts the possible technology choices such as Arduino, Netduino, AVR and some other interesting choices, how basic reverse engineering of existing hardware is done (analysis, tools for analysis etc) and how to get started hacking hardware in a Microsoft/C# .NET  (well mostly) environment TODAY!</p>
                                    </div>
                                    <!-- //.timeline-body -->
                                </div>
                                <!-- //.timeline-panel -->
                            </li>
                            
                            <li class="timeline-inverted">
                                <div class="timeline-badge">
                                    <i class="fa fa-dot-circle-o"></i>
                                </div>
                                <!-- //.timeline-badge -->

                                <div class="timeline-panel break-before">
                                    <div class="timeline-heading">
                                        <h3 class="timeline-title-break">11:30 | break</h3>
                                    </div>
                                    <!-- //.timeline-heading -->
                                    <!-- //.timeline-body -->
                                </div>
                                <!-- //.timeline-panel -->
                            </li>
                            
                            <li>
                                <div class="timeline-badge">
                                    <i class="fa fa-dot-circle-o"></i>
                                </div>
                                <!-- //.timeline-badge -->

                                <div class="timeline-panel">
                                    <div class="timeline-heading timeline-heading-show">
                                        <h3 class="timeline-speaker">11:50 | Tomasz Heimowski</h3>
                                        <h3 class="timeline-title">XSLT - Use the Right Tool for the Job</h3>
                                    </div>
                                    <!-- //.timeline-heading -->

                                    <div class="timeline-body">
                                        <p>XSLT is a mature Domain Specific Language focused on processing XML documents. It is however (un)famous for quickly becoming overcomplicated and hard to reason about. Lots of developers usually get frightened before, frustrated during and freak afterwards writing code in this language. In this talk I’ll show how to use the best of XSLT features in order to make the code more maintainable. By reaching to its functional parts, I want to prove that this DSL doesn’t have to be so scary, but instead can become really beneficial.</p>
                                    </div>
                                    <!-- //.timeline-body -->
                                </div>
                                <!-- //.timeline-panel -->
                            </li>

                            <li class="timeline-inverted">
                                <div class="timeline-badge">
                                    <i class="fa fa-dot-circle-o"></i>
                                </div>
                                <!-- //.timeline-badge -->

                                <div class="timeline-panel">
                                    <div class="timeline-heading">
                                        <h3 class="timeline-speaker">12:50 | Everyone</h3>
                                        <h3 class="timeline-title">Lunch</h3>
                                    </div>
                                    <!-- //.timeline-heading -->
                                    <!-- //.timeline-body -->
                                </div>
                                <!-- //.timeline-panel -->
                            </li>

                            <li>
                                <div class="timeline-badge">
                                    <i class="fa fa-dot-circle-o"></i>
                                </div>
                                <!-- //.timeline-badge -->

                                <div class="timeline-panel">
                                    <div class="timeline-heading timeline-heading-show">
                                        <h3 class="timeline-speaker">13:50 | Chris Klug</h3>
                                        <h3 class="timeline-title">AngularJS – Tips from the Trenches</h3>
                                    </div>
                                    <!-- //.timeline-heading -->

                                    <div class="timeline-body">
                                        <p>When you start building Angular applications, you generally go from “WTF” to “this is pretty cool and useful” very fast. Unfortunately, you also tend to go on to “damn, this is messy”, “oh, I wonder how I am going to test this” and “why do I spend so much time debugging stupid mistakes”, in a fairly short time. Luckily, there are ways to get around this, and stay at “Angular makes me so productive”.</p>
                                        <p>In this talk, you will see some things you can do to make the code easier to work with, easier to test and less prone to simple mistakes. Things that the speaker, Chris Klug, has learnt over the last couple of years, while working with Angular projects for clients. Small tips from the real world. Tips that can hopefully make you more productive and alleviate some of the common problems that arise while building applications with Angular.</p>
                                    </div>
                                    <!-- //.timeline-body -->
                                </div>
                                <!-- //.timeline-panel -->
                            </li>
                            <li>
                                <div class="timeline-badge">
                                    <i class="fa fa-dot-circle-o"></i>
                                </div>
                                <!-- //.timeline-badge -->

                                <div class="timeline-panel break-after">
                                    <div class="timeline-heading">
                                        <h3 class="timeline-title-break">14:50 | break</h3>
                                    </div>
                                    <!-- //.timeline-heading -->

                                    <!-- //.timeline-body -->
                                </div>
                                <!-- //.timeline-panel -->
                            </li>
                            
                            <li class="timeline-inverted">
                                <div class="timeline-badge">
                                    <i class="fa fa-dot-circle-o"></i>
                                </div>
                                <!-- //.timeline-badge -->

                                <div class="timeline-panel">
                                    <div class="timeline-heading timeline-heading-show">
                                        <h3 class="timeline-speaker">15:10 | Mark Seemann</h3>
                                        <h3 class="timeline-title">Humane Code</h3>
                                    </div>
                                    <!-- //.timeline-heading -->

                                    <div class="timeline-body">
                                        <p>Learn how to think productively about software development, so that you can maintain a sustainable pace, even with a growing code base. This presentation is about humane code, and how programming is first and foremost an activity that ought to focus on communication.</p>
                                    </div>
                                    <!-- //.timeline-body -->
                                </div>
                                <!-- //.timeline-panel -->
                            </li>

                            <li class="timeline-inverted">
                                <div class="timeline-badge">
                                    <i class="fa fa-dot-circle-o"></i>
                                </div>
                                <!-- //.timeline-badge -->

                                <div class="timeline-panel break-before">
                                    <div class="timeline-heading">
                                        <h3 class="timeline-title-break">16:10 | break</h3>
                                    </div>
                                    <!-- //.timeline-heading -->
                                    <!-- //.timeline-body -->
                                </div>
                                <!-- //.timeline-panel -->
                            </li>

                            <li>
                                <div class="timeline-badge">
                                    <i class="fa fa-dot-circle-o"></i>
                                </div>
                                <!-- //.timeline-badge -->

                                <div class="timeline-panel">
                                    <div class="timeline-heading timeline-heading-show">
                                        <h3 class="timeline-speaker">16:30 | Michał Taszycki</h3>
                                        <h3 class="timeline-title">Lost Art of Code Optimization or why you should grok Commodore 64</h3>
                                    </div>
                                    <!-- //.timeline-heading -->

                                    <div class="timeline-body">
                                        <p>I know you! You craft beautiful object-oriented and functional code every day. I don't need to tell you how to test and maintain it well. But I want to show you something different...Remember Commodore 64? The highest selling computer model of all time? Sadly it's not produced anymore for more than 20 years. But did you know that more than 70 new games are released every year for this machine? Every new C64 program is faster and prettier, even though it's processor can't even multiply. Meanwhile, your smartphone gets slower with every update...This talk will show you how Commodore 64 programmers 'break' hardware constraints to create jaw-dropping demos. It will show you an easy and fun way to practice writing low-level code. Something you'll never do at your day job!</p>
                                    </div>
                                    <!-- //.timeline-body -->
                                </div>
                            </li>

                            <li class="timeline-inverted">
                                <div class="timeline-badge">
                                    <i class="fa fa-dot-circle-o"></i>
                                </div>
                                <!-- //.timeline-badge -->

                                <div class="timeline-panel">
                                    <div class="timeline-heading">
                                        <h3 class="timeline-speaker">17:30</h3>
                                        <h3 class="timeline-title">Conference wrap-up</h3>
                                    </div>
                                    <!-- //.timeline-heading -->

                                    <div class="timeline-body">
                                        <p>Same time next year!</p>
                                    </div>
                                    <!-- //.timeline-body -->
                                </div>
                                <!-- //.timeline-panel -->
                            </li>
                            

                            
                        </ul>
                        <!-- //End Timeline -->
                    </div>
                    <!-- //.col-md-12 -->
                </div>
                <!-- //.row -->
            </div>
            <!-- //.section-content -->
        </div>
        <!-- //.section-inner -->
    </section>
    <!-- //End Our History Section -->
	<!-- Begin Keep In Touch Section -->
    <section id="keep-in-touch" class="section section-bgimage-yes">
        <!-- .section-inner -->
        <div class="section-inner">
            <div class="section-overlay"></div>
         
            <div class="container section-content">
                <div class="row">
                    <div class="col-md-12">
                        <div class="section-title text-center">
                            <h3 class="main-title">I would like to attend Dev# conference</h3>
                            <h4 class="sub-title">Send us a form and you will be the first one to be notified and invited for the conference! Dont wait! </h4>
                            <span class="section-line"></span>
                            
                        </div>
                        <!-- //.section-title -->
                    </div>
                    <!-- //.col-md-12 -->
                </div>
                <!-- //.row -->

                <div class="row">
                    <div class="col-xs-12 col-sm-4 col-md-2">
                        <div class="social-icon-item text-center not-right-column">
                        </div>
                        <!-- //.social-icon-item -->
                    </div>

                    <div class="col-sm-12 col-md-8  contact-form " ng-controller="contactCtrl">
                       
                        <div class="email-icon-margin social-icon-item text-center not-right-column top-column" >
                            <a href="" ng-click="showForm()">
                                <span class="social-icon">
                                    <i class="fa fa-envelope-o"></i>
                                </span>
                                <h4>Send form</h4>
                                <i class="fa fa-angle-down" aria-hidden="true"></i>
                            </a>
                        </div>

                        <div class="form-message" ng-show="form_message" ng-class="{'-success': success_msg ,'-fail': fail_msg }">
                          <h4>{{message}} </h4>
                        </div>
                                   
                        <form class="row" ng-show="show_form" ng-submit="sendEmail()">
                            <div class="col-sm-12 col-md-6">
                                <label class="labelAnim" for="name">Name</label>
                                <input data-ng-model="name" type="text" name="name"  class="inputVal input -text" id="name" ng-minlengtH="1" required autocomplete="off">
                            </div>
                            <div class="col-sm-12 col-md-6">
                                <label class="labelAnim" for="surname">Surname</label>
                                <input data-ng-model="surname" type="text" name="username"  class="inputVal input -text" id="username" ng-minlengtH="1" required autocomplete="off">
                            </div>
                            <div class="col-sm-12 col-md-12">
                                <label class="labelAnim" for="pass">Email</label>
                                <input data-ng-model="email" type="text" name="password" class="inputVal input -text" id="pass" ng-pattern="/^[^\s@]+@[^\s@]+\.[^\s@]{2,}$/" required autocomplete="off">
                            </div>
                            <div class="col-sm-12 col-md-12">
                                <span>Where did you hear about our conference?</span>
                                <span><input name="aboutForm" type="checkbox" ng-model="from_employee" ng-change="hearAbout(1)"> from IHS Markit employee </span>
                                <span><input name="aboutForm" type="checkbox" ng-model="from_fb" ng-change="hearAbout(2)"> facebook</span>
                                <span><input name="aboutForm" type="checkbox" ng-model="from_other" ng-change="hearAbout(3)"> other</span>
                            </div>
                            <div class="col-md-12" ng-show="from_employee">
                                <label class="labelAnim" for="ihs_employee">Write her/his name</label>
                                <input data-ng-model="ihs_employee" type="text" name="ihs_employee"  class="inputVal input -text" id="ihs_employee" ng-minlengtH="1" autocomplete="off" ng-change="hearAbout(1)">
                            </div>
                            
                            <div class="col-md-12" ng-show="from_other">
                                <label class="labelAnim" for="about_other">Where did you hear ?</label>
                                <input data-ng-model="about_other" type="text" name="about_other"  class="inputVal input -text" id="about_other" ng-minlengtH="1" autocomplete="off" ng-change="hearAbout(3)" >
                            </div>
                            
                            <div class="col-sm-12 col-md-12">
                                <span>Your Occupation / Job</span>
                                <span><input name="occupationForm" type="checkbox" ng-model="software_developer" ng-change="occupation(1,'Software Developer')">  Software Developer</span>
                                <span><input name="occupationForm" type="checkbox" ng-model="student" ng-change="occupation(2,'Student')"> Student</span>
                                <span><input name="occupationForm" type="checkbox" ng-model="sqa_engineer" ng-change="occupation(3,'SQA Engineer')"> SQA Engineer</span>
                                <span><input name="occupationForm" type="checkbox" ng-model="occupation_other" ng-change="occupation(4)" selected> Other</span>
                            </div>
                            
                            <div class="col-md-12" ng-show="occupation_other">
                                <label class="labelAnim" for="occu_other">Your Occupation / Job ?</label>
                                <input data-ng-model="occu_other" type="text" name="occu_other"  class="inputVal input -text" id="occu_other" ng-minlengtH="1" ng-change="occupation(4)" autocomplete="off" >
                            </div>
                            
                            <div class="col-sm-12 col-md-12">
                                <label class="labelAnim" for="my_company">Your Company / Organization / School</label>
                                <input data-ng-model="my_company" type="text" name="my_company"  class="inputVal input -text" id="my_company" ng-minlengtH="1" required autocomplete="off">
                            </div>
                            
                            <div class="col-sm-12 col-md-12">
                                <span>Area of interest / something about you</span>
                                <textarea data-ng-model="about_me" class="inputVal input -area" ng-minlengtH="1" required autocomplete="off"></textarea>
                            </div>
                            
                            <div class="col-sm-12 col-md-12">
                                <span>Special Meal Preferences</span>
                                <span><input name="prefForm" type="checkbox" ng-model="eat_normal" ng-change="specialPreferences(1,'No')"> No</span>
                                <span><input name="prefForm" type="checkbox" ng-model="eat_vege" ng-change="specialPreferences(2,'Vegetarian')"> Yes, Vegetarian</span>
                                <span><input name="prefForm" type="checkbox" ng-model="eat_other" ng-change="specialPreferences(3,'Other')" selected> Yes, other</span>
                            </div>
                            
                            <div class="col-md-12" ng-show="eat_other">
                                <label class="labelAnim" for="occu_other">Special Meal Preferences ?</label>
                                <input data-ng-model="pref_other" type="text" name="pref_other"  class="inputVal input -text" id="pref_other" ng-minlengtH="1" autocomplete="off" ng-change="specialPreferences(3,'Other')" >
                            </div>
                            
                            <div class="col-md-12 text-center">
                                <input type="submit" class="btn-send" value="Send" >
                            </div>
                        </form>
                    </div>
                    <div class="col-xs-3 col-sm-4 col-md-2">
                        <div class="social-icon-item text-center not-right-column">
                        </div>
                        <!-- //.social-icon-item -->
                    </div>
                    
                </div>

            </div>
             
            <!-- //.section-content -->
        </div>
        <!-- //.section-inner -->
    </section>
    <!-- //End Keep In Touch Section -->
    <!-- Begin Map -->
    <div id="map" class="section">
        <div class="section-inner">
            <div class="container  section-content">
                <div class="col-md-12">
                    <div class="section-title text-center">
                        <h2 class="main-title">You will find us here</h2>
                        <h3 class="sub-title">Multikino, aleja Zwycięstwa 14, Gdańsk</h3>
                        <span class="section-line"></span>
                    </div>
                    <!-- //.section-title -->
                </div>
            </div>
        </div>
        
        <div id="cd-google-map">
            <div id="google-container"></div>
        </div>
        <!-- //.cd-google-map -->
    </div>
    <!-- //End Map -->
    <div class="funded-by">
        <div class="video-section" data-autoplay="data-autoplay" data-loop="data-loop" data-video-urls="https://cdn.ihs.com/wwwihsmarkit/videos/home-hero-video-03-transcode.webm,https://cdn.ihs.com/wwwihsmarkit/videos/home-hero-video-03-transcode.mp4" data-wf-ignore="data-wf-ignore">
            <video autoplay="autoplay" loop="loop" style="background-image: url(&quot;https://cdn.ihs.com/wwwihsmarkit/images/home-hero-poster.jpg&quot;);">
                <source src="https://cdn.ihs.com/wwwihsmarkit/videos/home-hero-video-03-transcode.webm" data-wf-ignore="">
                <source src="https://cdn.ihs.com/wwwihsmarkit/videos/home-hero-video-03-transcode.mp4" data-wf-ignore="">
            </video>
        </div>
        <div class="shadow-black"></div>
        <div class="funded-content">
            <h1>Founded By</h1>
            <a href="https://ihsmarkit.com/">
                <img src="assets/img/IHS-Markit-logo.svg" width="100%"> 
            </a>
            <a class="funded-gdansk-link" href="http://www.ihsgdansk.com/">Gdańsk office site</a>
        </div>
    
    </div>
    <!-- Begin Footer -->
    <footer class="footer">

        <!-- Begin Footer Section -->
        <section id="footer">
            <div class="container">
                <div class="row">
                    <div class="col-sm-4 col-md-4 footer-column not-right-column">
                        <div class="footer-text">
                            <h4>Get In Touch</h4>

                            <ul class="icon-list list-unstyled">
                                <li>
                                    <i class="fa fa-phone"></i> +48 58 882 35 00
                                </li>
                                
                                <li>
                                  <a class="mailto" href="mailto:praca@ihs.com"><i class="fa fa-envelope-o"></i>praca@ihs.com</a>
                                </li>
                                
                                <li>
                                  <a class="mailto" href="https://www.google.pl/maps/place/Ja%C5%9Bkowa+Dolina+15,+Gda%C5%84sk/@54.3748732,18.6036411,18.25z/data=!4m5!3m4!1s0x46fd74939ff2dc97:0x374468c1a55b4754!8m2!3d54.374869!4d18.60447" target="_blank"><i class="fa fa-map-marker"></i> Jaśkowa Dolina 15, 80-252 Gdańsk</a>
                                </li>
                            </ul>
                            
                            <ul class="social-icon-list list-unstyled list-inline">
                                <li>
                                    <a href="//www.facebook.com/ihspoland"><i class="fa fa-facebook"></i></a>
                                </li>
                                
                                <li>
                                    <a href="//www.twitter.com/IHS"><i class="fa fa-twitter"></i></a>
                                </li>
                                
                                <li>
                                    <a href="//plus.google.com/+IhsExplore"><i class="fa fa-google-plus"></i></a>
                                </li>
                                
                                <li>
                                    <a href="//www.linkedin.com/company/ihs"><i class="fa fa-linkedin"></i></a>
                                </li>
                                <li>
                                    <a href="//www.ihsgdansk.com"><i class="fa fa-link"></i></a>
                                </li>
                            </ul>
                        </div>
                        <!-- //.footer-text -->
                    </div>
                    <!-- //.footer-column -->

                    <div class="col-sm-4 col-md-4 footer-column not-right-column">
                        <div class="footer-text">
                            <h4>About IHS Markit</h4>
                            <p>The New Intelligence</p>
                            <p>IHS Markit’s singular ability to look across complex industries, financial markets, and government actions that drive the global economy and provide our customers with insights, perspective and solutions for what really matters.</p>
                        </div>
                        <!-- //.footer-text -->
                    </div>
                    <!-- //.footer-column -->

                    <div class="col-sm-4 col-md-4 footer-column">

                        <!-- //.footer-text -->
                    </div>
                    <!-- //.footer-column -->
                </div>
                <!-- //.row -->
            </div>
            <!-- //.container -->
        </section>
        <!-- //End Footer Section -->

        <!-- Begin Copyright -->
        <div id="copyright">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <!--<p>Copyright &copy; 2016 <a href="#">IHS.</a></p>-->
                    </div>
                    <!-- //.col-md-12 -->
                </div>
                <!-- //.row -->
            </div>
            <!-- //.container -->
        </div>
        <!-- //End Copyright -->
    </footer>
    <!-- //End Footer -->

    <!-- Plugins JS -->
    <script src="assets/plugins/jquery.min.js"></script>
    <script src="assets/plugins/bootstrap/js/bootstrap.min.js"></script>
    <script src="assets/plugins/detectmobilebrowser/detectmobilebrowser.js"></script>
    <script src="assets/plugins/smartresize/smartresize.js"></script>
    <script src="assets/plugins/jquery-easing/jquery.easing.min.js"></script>
    <script src="assets/plugins/jquery-sticky/jquery.sticky.js"></script>
    <script src="assets/plugins/jquery-inview/jquery.inview.min.js"></script>
    <script src="assets/plugins/jquery-countTo/jquery.countTo.js"></script>
    <script src="assets/plugins/jquery-easypiechart/jquery.easypiechart.min.js"></script>
    <script src="assets/plugins/jquery-countdown/jquery.plugin.min.js"></script>
    <script src="assets/plugins/jquery-countdown/jquery.countdown.min.js"></script>
    <script src="assets/plugins/owl-carousel/owl.carousel.min.js"></script>
    <script src="assets/plugins/isotope/isotope.pkgd.min.js"></script>
    <script src="assets/plugins/jquery-magnificPopup/jquery.magnific-popup.min.js"></script> 
    <script src="assets/plugins/jquery-validation/jquery.validate.min.js"></script>
    <script src="assets/plugins/AngularJS/angular.min.js"></script>
    
    <!-- Main JS -->
    <script src="assets/js/main.js"></script>
    
    <!-- Animation JS (Optional) -->
    <script src="assets/js/animation.js"></script>
    
    <!-- Component JS -->
    <script src="assets/js/component/bar-chart.js"></script>
    <script src="assets/js/component/countdown.js"></script>
    <script src="assets/js/component/counters.js"></script>
    <script src="assets/js/component/pie-chart.js"></script>
    <script src="assets/js/component/portfolio.js"></script>
    <script src="assets/js/component/animation.js"></script>
    
    <!-- Map JS -->
    
    <script async defer src="https://maps.googleapis.com/maps/api/js?client=gme-lrfairplay&v=3.25&callback=initMap"></script>
    <script src="assets/js/component/map.js"></script>

</body>

</html>