<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" ng-app="app"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" ng-app="app"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" ng-app="app"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" ng-app="app"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <title>Dev# Conference</title>
    <meta http-equiv="Description" name="Description" content="Dev# 2018, conference organized in Gdańsk - a free event dedicated to helping sharpen your knowledge and expertise.">
    <meta http-equiv="Keywords" name="Keywords" content="Dev#,C#,F#,Conference,Gdansk Conference,Gdańsk Conference,Dev Sharp">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
	<!-- Customizations -->
	<link href='assets/css/rinjani_customized.css' rel='stylesheet' type='text/css' />
    <!-- Google Font -->
    <link href='http://fonts.googleapis.com/css?family=Raleway:400,700' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Lato:300,400,700' rel='stylesheet' type='text/css'>

    <!-- Bootstrap Core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" crossorigin="anonymous">

    <!-- Plugins CSS -->
    <link href="assets/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="assets/plugins/animate-css/animate.min.css" rel="stylesheet" type="text/css">
    <link href="assets/plugins/owl-carousel/owl.carousel.css" rel="stylesheet" type="text/css">
    <link href="assets/plugins/owl-carousel/owl.theme.css" rel="stylesheet" type="text/css">
    <link href="assets/plugins/jquery-magnificPopup/magnific-popup.css" rel="stylesheet" type="text/css">

    <!-- Component CSS -->
    <link href="assets/css/component/component.css" rel="stylesheet" type="text/css">
    <link href="assets/css/component/colors/blue.css" rel="stylesheet" type="text/css">

    <!-- Main CSS -->
    <link href="assets/css/rinjani.css" rel="stylesheet" type="text/css">
    <link href="assets/css/colors/blue.css" rel="stylesheet" type="text/css">

    <!-- Modernizr JS for IE9 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="assets/plugins/modernizr.min.js"></script>
    <![endif]-->
</head>

<!-- The #page-top ID is part of the scrolling feature - the data-spy and data-target are part of the built-in Bootstrap scrollspy function -->
<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top" data-offset="51" ng-controller="translateCtrl">

    <!--[if lt IE 8]>
        <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <!-- Begin Page Loader -->
    <div id="page-loader">
        <div class="preload">
            <img src="assets/img/preloader.gif" alt="Loading"/>
        </div>
        <!-- //.preload -->
    </div>
    <!-- //End Page Loader -->


    <!-- Begin Intro Section -->
    <section id="intro">
        <div class="intro-body text-center">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 intro-content">
                        <div class="logo dev-sharp-logo">
							<img class='img-responsive' src='assets/img/logo_top3.svg' alt='DEV#'/>
                        </div>
                        <!-- //.logo -->
                        <div class="intro-text text-center">
                            &nbsp;
                        </div>
                        <!-- //.intro-text -->
                    </div>
                    <!-- //.intro-content -->
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="countdown text-center">
                            <div class="cd-label">{{translate("date")}} | Gdańsk, Stary Maneż</div>
                        </div>
                        <!-- /.countdown -->
                    </div>
                    <div class="col-md-12">
                        <div class="countdown text-center funded-main-page">
                            <span>{{translate("organizedBy")}}</span>
                            <a href="https://ihsmarkit.com/">
                                <img class="space" src="assets/img/IHS-Markit-logo.svg" >
                            </a>
                        </div>
                        <!-- /.countdown -->
                    </div>
                    <!-- //.col-md-12 -->
                </div>

                <div class="row space">
                    <div class="col-md-12">
                        <div class="section-title text-center col-md-12 register-and-call-buttons">
                            <h1 class="main-title btn btn-base-color btn-large btn-shadow toCenter enlarge-text">
                                <a href="https://www.eventbrite.com/e/dev-tickets-43381899429">{{translate("registernow")}}</a>
                            </h1>
                        </div>
                        <!-- //.section-title -->
                    </div>
                    <!-- //.col-md-12 -->
                </div>
                <!-- //.row -->
      

                <!-- //.row -->
                <!-- //.row -->
            </div>
            <!-- //.container -->
        </div>
        <!-- //.intro-body -->
    </section>
    <!-- //End Intro Section -->


    <!-- Begin Navbar -->
    <nav id="navigation" class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-rj-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

                <a class="navbar-brand" href="#page-top">
                    <img class='img-responsive vcenter' src='assets/img/web_logo-s2.png' alt='DEV#'/>
                </a>
<!--                 <div class="funded-by-header">
                  <span>Founded by&nbsp;&nbsp;&nbsp;</span>
                  <a href="https://ihsmarkit.com/">
                    <img src="assets/img/IHS-Markit-logo_black.svg" width="100%">
                  </a>
                </div>
 -->            </div>
            <!-- //.navbar-header -->

            <div class="navbar-collapse collapse navbar-rj-collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li class="page-scroll">
                        <a href="#who-we-are">{{translate("about")}}</a>
                    </li>

                    <li class="page-scroll">
                        <a href="#meet-the-team">{{translate("speakers")}}</a>
                    </li>

                    <li class="page-scroll">
                        <a href="#our-history">Agenda</a>
                    </li>

					<li>
                        <a href="https://www.eventbrite.com/e/dev-tickets-43381899429">{{translate("registration")}}</a>
                    </li>

                    <li>
                        <a href="./2016/index.html">Dev# 2016</a>
                    </li>

                    <li class="page-scroll">
                        <a href="#footer">{{translate("contact")}}</a>
                    </li>

                    <li class="language-pointer">
                        <a ng-click="changeLanguage()">
                            <img ng-if="isPolish()" src="assets/img/eng.png"/>
                            <img ng-if="isEnglish()" src="assets/img/pol.png"/>
                        </a>
                    </li>
                </ul>

            </div>
            <!-- //.navbar-collapse -->
        </div>
        <!-- //.container -->
    </nav>
    <!-- //End Navbar -->


    <!-- Begin Who We Are Section -->
    <section id="who-we-are" class="section">
        <div class="section-inner">
            <div class="container section-content">
                <div class="row">
                    <div class="col-md-12">
                        <div class="section-title text-center">
                            <h2 class="main-title">{{translate("about")}} <strong>Dev</strong>#</h2>
<!--
                            <h2 class="main-title">THE CONFERENCE</h2>

                            <h3 class="sub-title">Some things you should know about Dev# Conference</h3>
 -->
                            <span class="section-line"></span>
                        </div>
                        <!-- //.section-title -->
                    </div>
                    <!-- //.col-md-12 -->
                </div>
                <!-- //.row -->

                <div class="row">
                    <div class="col-md-6">
                        <div id="carousel-who-we-are" class="owl-carousel owl-theme">
                            <div class="item">
                                <img src="assets/img/2016/1.jpg" alt="" class="img-responsive img-rounded"/>
                            </div>
                            <!-- //.item -->

                            <div class="item">
                                <img src="assets/img/2016/2.jpg" alt="" class="img-responsive img-rounded"/>
                            </div>
                            <!-- //.item -->

                            <div class="item">
                                <img src="assets/img/2016/3.jpg" alt="" class="img-responsive img-rounded"/>
                            </div>
                            <!-- //.item -->
                            <div class="item">
                                <img src="assets/img/2016/4.jpg" alt="" class="img-responsive img-rounded"/>
                            </div>

                            <div class="item">
                                <img src="assets/img/2016/5.jpg" alt="" class="img-responsive img-rounded"/>
                            </div>

                            <div class="item">
                                <img src="assets/img/2016/6.jpg" alt="" class="img-responsive img-rounded"/>
                            </div>
                            <!-- //.item -->
                        </div>
                        <!-- //.owl-carousel -->
                    </div>
                    <!-- //.col-md-6 -->

                    <div class="col-md-6">
                        <div class="who-we-are-text">
                            <p class="sub-title">
                                {{translate("intro.1")}}
                            </p>

                            <p>
                                {{translate("intro.2")}}
                            </p>
                            <p>
                                {{translate("intro.3")}}
                            </p>
                            <!-- //.page-scroll -->
                        </div>
                        <!-- //.who-we-are-text -->
                    </div>
                    <!-- //.col-md-6 -->
                </div>
                <!-- //.row -->
            </div>
            <!-- //.section-content -->
        </div>
        <!-- //.section-inner -->
    </section>
    <!-- //End Who We Are Section -->


    <!-- Begin Fun Fact Section -->
    <section id="fun-fact-manez" class="section section-bgimage-yes">
        <div class="section-inner">
            <div class="section-overlay"></div>

            <div class="container section-content">
                <div class="row">
                    <div class="col-md-12">
                        <div class="section-title text-center">
                            <h2 class="main-title">{{translate("facts")}}</h2>
<!--                             <h2 class="main-title">Facts</h2>

                            <h3 class="sub-title">Dev# in numbers</h3>
 -->
                            <span class="section-line"></span>
                        </div>
                        <!-- //.section-title -->
                    </div>
                    <!-- //.col-md-12 -->
                </div>
                <!-- //.row -->

                <div class="row">
                    <div class="col-xs-6 col-sm-6 col-md-3 text-center">
                        <div class="counter-item not-right-column top-column">
                            <i class="fa fa-calendar"></i>

                            <div class="inner-content">
                                <span class="number" data-from="1" data-to="1" data-refresh-interval="1"></span>
                            </div>
                            <!-- //.inner-content -->

                            <p>{{translate("day")}}</p>
                        </div>
                        <!-- //.counter-item -->
                    </div>
                    <!-- //.col-xs-6 col-sm-6 col-md-3 -->

                    <div class="col-xs-6 col-sm-6 col-md-3 text-center">
                        <div class="counter-item not-right-column top-column">
                            <i class="fa fa-smile-o"></i>
                            <div class="inner-content">
                                <span class="number" data-from="0" data-to="6" data-refresh-interval="10"></span>
                            </div>
                            <!-- //.inner-content -->
                            <p>{{translate("talks")}}</p>
                        </div>
                        <!-- //.counter-item -->
                    </div>
                    <!-- //.col-xs-6 col-sm-6 col-md-3 -->

                    <div class="col-xs-6 col-sm-6 col-md-3 text-center">
                        <div class="counter-item">
                            <i class="fa fa-user"></i>
                            <div class="inner-content">
                                <span class="number" data-from="0" data-to="250" data-refresh-interval="5"></span>
                            </div>
                            <!-- //.inner-content -->
                            <p>{{translate("people")}}</p>
                        </div>
                        <!-- //.counter-item -->
                    </div>
                    <!-- //.col-xs-6 col-sm-6 col-md-3 -->

                    <div class="col-xs-6 col-sm-6 col-md-3 text-center">
                        <div class="counter-item not-right-column">
                            <i class="fa fa-money"></i>
                            <div class="inner-content">
                                <span class="text">{{translate("cost.price")}}</span>
                            </div>
                            <!-- //.inner-content -->
                            <p>{{translate("cost")}}</p>
                        </div>
                        <!-- //.counter-item -->
                    </div>
                    <!-- //.col-xs-6 col-sm-6 col-md-3 -->


                </div>
                <!-- //.row -->
            </div>
            <!-- //.section-content -->
        </div>
        <!-- //.section-inner -->
    </section>
    <!-- //End Fun Fact Section -->

	    <!-- Begin Meet The Team Section -->
    <section id="meet-the-team" class="section">
        <div class="section-inner">
            <div class="container section-content">
                <div class="row">
                    <div class="col-md-12">
                        <div class="section-title text-center">
                            <h2 class="main-title">{{translate("speakers")}}</h2>
                            <!-- <h3 class="sub-title">Meet people we will learn from</h3> -->
                        </div>
                        <!-- //.section-title -->
                    </div>
                    <!-- //.col-md-12 -->
                </div>
                <!-- //.row -->

                <div class="row extra-bottom-padding">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="section-title text-center">
                                <h3 class="sub-title announced-later">{{translate("agenda.toannounced")}}</h2>
                            </div>
                            <!-- //.section-title -->
                        </div>
                        <!-- //.col-md-12 -->
                    </div>

                    <!-- //.team-item -->

                    <!-- //.team-item -->
                </div>
                <!-- //.row -->
            </div>
            <!-- //.section-content -->
        </div>
        <!-- //.section-inner -->
    </section>
    <!-- //End Meet The Team Section -->

        <!-- Begin Coming Soon Section -->
    <section id="coming-soon" class="section section-bgimage-yes">
        <div class="section-inner">
            <div class="section-overlay"></div>

            <div class="container section-content">
                <div class="row">
                    <div class="col-md-12">
                        <!-- //.section-title -->
                    </div>
                    <!-- //.col-md-12 -->
                </div>
                <!-- //.row -->

                <div class="row">
                    <div class="col-md-12">
                        <div class="countdown text-center">
                            <div class="cd-label">{{translate("date")}} | Gdańsk, Stary Maneż</div>
                            <div class="cd-content" data-year="2018" data-month="9" data-day="21" data-hour="9"></div>
                        </div>
                        <!-- /.countdown -->
                    </div>
                    <!-- //.col-md-12 -->
                </div>
            </div>
            <!-- //.section-content -->
        </div>
        <!-- //.section-inner -->
    </section>
    <!-- //End Coming Soon Section -->

    <!-- Begin Our History Section -->
    <section id="our-history" class="section">
        <div class="section-inner">
            <div class="container section-content">
                <div class="row">
                    <div class="col-md-12">
                        <div class="section-title text-center">
                            <h2 class="main-title">Agenda</h3>
                        </div>
                        <!-- //.section-title -->
                    </div>
                    <!-- //.col-md-12 -->
                </div>
                <!-- //.row -->
                <div class="row">
                    <div class="col-md-12">
                        <div class="section-title text-center">
                            <h3 class="sub-title announced-later">{{translate("agenda.toannounced")}}</h2>
                        </div>
                        <!-- //.section-title -->
                    </div>
                    <!-- //.col-md-12 -->
                </div>
                <!-- //.row -->
            </div>
            <!-- //.section-content -->
        </div>
        <!-- //.section-inner -->
    </section>
    <!-- //End Our History Section -->
	<!-- Begin Keep In Touch Section -->
    <section id="keep-in-touch" class="section section-bgimage-yes">
        <!-- .section-inner -->
        <div class="section-inner">
            <div class="section-overlay"></div>

            <div class="container section-content">
                <div class="row">
                    <div class="col-md-12">
                        <div class="section-title text-center">
                            <h2 class="main-title btn btn-base-color btn-large btn-shadow mr-0 mt-4">
                                <a href="https://www.eventbrite.com/e/dev-tickets-43381899429">{{translate("registernow")}}</a>
                            </h3>
                        </div>
                        <!-- //.section-title -->
                    </div>
                    <!-- //.col-md-12 -->
                </div>
                <!-- //.row -->

                <div class="row">
                    <div class="col-xs-12 col-sm-4 col-md-2">
                        <div class="social-icon-item text-center not-right-column">
                        </div>
                        <!-- //.social-icon-item -->
                    </div>

            </div>

            <!-- //.section-content -->
        </div>
        <!-- //.section-inner -->
    </section>
    <!-- //End Keep In Touch Section -->
    <!-- Begin Map -->
    <div id="map" class="section">
        <div class="section-inner">
            <div class="container  section-content">
                <div class="col-md-12">
                    <div class="section-title text-center">
                        <h2 class="main-title">{{translate("findus")}}</h2>
                        <h3 class="sub-title">Stary Maneż, ul. Słowackiego 23, Gdańsk</h3>
                    </div>
                    <div class="col-md-4" >
                        <img src="assets/img/manez/1.jpg" alt="" class="img-responsive img-rounded"/>
                    </div>
                    <!-- //.item -->
                    <div class="col-md-4">
                        <img src="assets/img/manez/2.jpg" alt="" class="img-responsive img-rounded"/>
                    <!-- //.item -->
                    </div>
                    <div class="col-md-4">
                        <img src="assets/img/manez/3.jpg" alt="" class="img-responsive img-rounded"/>
                    <!-- //.item -->
                <!-- //.owl-carousel -->
                    </div>
                    <!-- //.section-title -->
                </div>
            </div>
        </div>       

        <div id="cd-google-map">
            <div id="google-container"></div>
        </div>
        <!-- //.cd-google-map -->
    </div>
    <!-- //End Map -->
    <div class="funded-by">
        <div class="video-section" data-autoplay="data-autoplay" data-loop="data-loop" data-video-urls="https://cdn.ihs.com/wwwihsmarkit/videos/home-hero-video-03-transcode.webm,https://cdn.ihs.com/wwwihsmarkit/videos/home-hero-video-03-transcode.mp4" data-wf-ignore="data-wf-ignore">
            <video autoplay="autoplay" loop="loop" style="background-image: url(&quot;https://cdn.ihs.com/wwwihsmarkit/images/home-hero-poster.jpg&quot;);">
                <source src="https://cdn.ihs.com/wwwihsmarkit/videos/home-hero-video-03-transcode.webm" data-wf-ignore="">
                <source src="https://cdn.ihs.com/wwwihsmarkit/videos/home-hero-video-03-transcode.mp4" data-wf-ignore="">
            </video>
        </div>
        <div class="shadow-black"></div>
        <div class="funded-content">
            <h1>{{translate("organizedBy")}}</h1>
            <a href="https://ihsmarkit.com/">
                <img src="assets/img/IHS-Markit-logo.svg" width="100%">
            </a>
            <a class="funded-gdansk-link" href="http://www.ihsgdansk.com/">{{translate("office")}}</a>
        </div>

    </div>
    <!-- Begin Footer -->
    <footer class="footer">

        <!-- Begin Footer Section -->
        <section id="footer">
            <div class="container">
                <div class="row">
                    <div class="col-sm-4 col-md-4 footer-column not-right-column"></div>

                    <div class="col-sm-4 col-md-4 footer-column not-right-column">
                        <div class="footer-text">
                            <h4>{{translate("intouch")}}</h4>

                            <ul class="icon-list list-unstyled">
                                <li>
                                    <i class="fa fa-phone"></i> +48 58 882 35 00
                                </li>

                                <li>
                                  <a class="mailto" href="mailto:conference@devsharp.pl"><i class="fa fa-envelope-o"></i>conference@devsharp.pl</a>
                                </li>

                                <li>
                                  <a class="mailto" href="https://www.google.pl/maps/place/IHS+Markit/@54.3733937,18.6019564,14z/data=!4m8!1m2!2m1!1sihs+markit!3m4!1s0x46fd7361faa8163b:0x638b8762e904d31b!8m2!3d54.3720109!4d18.63457" target="_blank"><i class="fa fa-map-marker"></i> Marynarki Polskiej 163, 80-868 Gdańsk</a>
                                </li>
                            </ul>

                            <ul class="social-icon-list list-unstyled list-inline">
                                <li>
                                    <a href="//www.facebook.com/ihspoland"><i class="fa fa-facebook"></i></a>
                                </li>

                                <li>
                                    <a href="//www.twitter.com/dev_sharp"><i class="fa fa-twitter"></i></a>
                                </li>

                                <li>
                                    <a href="//plus.google.com/+IhsExplore"><i class="fa fa-google-plus"></i></a>
                                </li>

                                <li>
                                    <a href="//www.linkedin.com/company/ihs"><i class="fa fa-linkedin"></i></a>
                                </li>
                                <li>
                                    <a href="//www.ihsgdansk.com"><i class="fa fa-link"></i></a>
                                </li>
                            </ul>
                        </div>
                        <!-- //.footer-text -->
                    </div>

                    <div class="col-sm-4 col-md-4 footer-column not-right-column"></div>
                    <!-- //.footer-column -->
                    <!-- //.footer-column -->

                        <!-- //.footer-text -->
                    <!-- //.footer-column -->
                </div>
                <!-- //.row -->
            </div>
            <!-- //.container -->
        </section>
        <!-- //End Footer Section -->

        <!-- Begin Copyright -->
        <div id="copyright">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <!--<p>Copyright &copy; 2016 <a href="#">IHS.</a></p>-->
                    </div>
                    <!-- //.col-md-12 -->
                </div>
                <!-- //.row -->
            </div>
            <!-- //.container -->
        </div>
        <!-- //End Copyright -->
    </footer>
    <!-- //End Footer -->

    <!-- Plugins JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js" crossorigin="anonymous"></script>
    <script src="assets/plugins/detectmobilebrowser/detectmobilebrowser.js"></script>
    <script src="assets/plugins/smartresize/smartresize.js"></script>
    <script src="assets/plugins/jquery-easing/jquery.easing.min.js"></script>
    <script src="assets/plugins/jquery-sticky/jquery.sticky.js"></script>
    <script src="assets/plugins/jquery-inview/jquery.inview.min.js"></script>
    <script src="assets/plugins/jquery-countTo/jquery.countTo.js"></script>
    <script src="assets/plugins/jquery-countdown/jquery.plugin.min.js"></script>
    <script src="assets/plugins/jquery-countdown/jquery.countdown.min.js"></script>
    <script src="assets/plugins/owl-carousel/owl.carousel.min.js"></script>
    <script src="assets/plugins/isotope/isotope.pkgd.min.js"></script>
    <script src="assets/plugins/jquery-magnificPopup/jquery.magnific-popup.min.js"></script>
    <script src="assets/plugins/jquery-validation/jquery.validate.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>

    <!-- Main JS -->
    <script src="assets/js/main.js"></script>

    <!-- Animation JS (Optional) -->

    <!-- Component JS -->
    <script src="assets/js/component/countdown.js"></script>
    <script src="assets/js/component/counters.js"></script>
    <script src="assets/js/component/portfolio.js"></script>
    <script src="assets/js/component/animation.js"></script>

    <!-- Map JS -->

    <script async defer src="https://maps.googleapis.com/maps/api/js?client=gme-lrfairplay&v=3.25&callback=initMap"></script>
    <script src="assets/js/component/map.js"></script>

</body>

</html>
