@media (max-width: 767px) {
    .dropdown-menu > li > a > span.dropdown-link {
        color: #fff;
    }
}

.map-container {
    height: 500px; 
    background: #424245; 
    margin-top: 5px;
}

.map-body {
    height: 500px; 
    width: 900px; 
    margin: auto;
}