.dev-sharp-logo{
	margin-left:auto;
	margin-right:auto;
	width:60%;
}

.navbar-brand>img.vcenter{
	display: inline-block;
    vertical-align: middle;
	margin-bottom: 6px;
}

.agenda-table{
	margin-left: auto;
	margin-right: auto;
}
.email-icon-margin {
    margin-left: 8px;
}
::-webkit-scrollbar {
  width: 9px;
  background-color: #a1abb2;
}
::-webkit-scrollbar-thumb {
  background-color: #00a8cb;
  cursor: pointer;
}
.timeline-body {
  display: none;
}

/* CONTACT-FORM */
.contact-form {
  color: #b7ada4;
  text-transform: uppercase;
}

.contact-form .fa-angle-down {
  font-size: 60px;
}

.contact-form h3 {
  text-align: center;
}

.contact-form form div input[type='text'] {
  width: 100%;
  padding: 6px;
  color: #b7ada4;
  background-color: transparent;
  z-index: 2;
  position: relative;
  outline-color: transparent;
}

.contact-form form div {
  margin: 25px 0;
}

.contact-form form div label {
  position: absolute;
  top: 5px;
  z-index: 1;
}

.contact-form form div span {
  display: block;
  padding: 5px 0;
}

.contact-form form div span:first-of-type{
  font-size: 20px;
}

.inputVal.ng-valid {
  border: 0;
  border-bottom: 4px solid #228B22;
  transition: all .5s ease-in;
}

.inputVal.ng-invalid {
  border: 0;
  border-bottom: 4px solid #ed1c24;
  transition: all .5s ease-in;
}

.contact-form form div input[type='submit']{
  background-color: #00a8cb;
  border: 0;
  padding: 10px 15px;
  color: #fff;
  text-transform: uppercase;
  transition: all .3s ease-in;
}

.contact-form form div input[type='submit']:hover {
  opacity: .7;
  transition: all .3s ease-out;
  color: #000;
}

.contact-form form div input[type='checkbox']{
  margin: 4px 0;
  vertical-align: bottom
}

.onFocus {
  transition: all .5s ease;
  top: -20px !important;
}
