.dev-sharp-logo{
	margin-left:auto;
	margin-right:auto;
	width:50%;
}

.navbar-brand>img.vcenter{
	display: inline-block;
    vertical-align: middle;
	margin-bottom: 10px;
}

.agenda-table{
	margin-left: auto;
	margin-right: auto;
}
.email-icon-margin {
    margin-left: 8px;
}
::-webkit-scrollbar {
  width: 9px;
  background-color: #a1abb2;
}
::-webkit-scrollbar-thumb {
  background-color: #00b140;
  cursor: pointer;
}
.timeline-body {
  display: none;
}

